/* Configurações gerais */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --soft-grey: #c0c0c0;
    --dark-grey: #636363;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(0, 0, 0, 0.548);

}

::before, ::after{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, var(--soft-grey), var(--dark-grey));
    background-attachment: fixed;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--white);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 35px 15px;
    overscroll-behavior: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.12;
}

section{
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: calc(60vh);
    min-width: 400px;
    border-radius: 50px;
    backdrop-filter: var(--backdrop-filter-blur);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.cover-content{
    margin-top: 20px;
    width: 370px;
    height: 370px;
    border-radius: 40px;
}


    
